body{
    background-color: lightgray;
    margin: 20px;
}
.ref{
    display: inline-block;
    margin-left: 30%;
    background-color: rgb(122, 78, 78);
    padding: 6px;
}
.pop{
    color: navajowhite;
}
