body{
    background-color: rgb(246, 255, 169);
    height: 100rem;
}
.navbar{
    background-color: #ffffff !important;
    padding: .5rem;
    
}

#left{

    background-attachment: fixed;
    height: 80vh !important;
    width:100%;
    
     animation-name: myani;
     animation-duration: 10s ;
     animation-timing-function: ease-in-out;
     animation-iteration-count: infinite;
     background-repeat: no-repeat;
     background-size: cover;
}
@keyframes myani{
    0%,100%{
        background-image: url("1.png");
    }
    50%{
        background-image: url("2.png");
    }
}

#left h1,p{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
   
    position: relative;
top: 50%;
transform: translateY(-50%);
line-height: 40px; 
color: white;

}

#right{
    
    height: 80vh !important;
    width:100%;
}
#right img{
    width:26rem;
    position: relative;
    top:44%;
    left:8rem;
}

@media only screen and (max-width: 516px) {
    
    #right img{
        width:16rem;
        position: relative;
    top: 33%;
    left:6.4rem;
    
    }
  }
  @media only screen and (max-width: 375px) {
    body {
      background-color: rgb(184, 228, 243);
    }
    #right img{
        width:16rem;
        position: relative;
    top: 33%;
    left:3rem;
    
    }
  }


h2{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

}


