@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap');
:root{
	--bg-color: #0D0D0D;
	--bg-pink: #E50045;
	--bg-blue: #1ab7ff;
}
*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: Rubik;
}
html,
body{
	
	background: var(--bg-pink);
	
}

.container{
	padding: 10px 55px;
}
nav a{
	color: white;
	padding: 10px 15px;
	margin-left: 2px;
	text-decoration: none;

}
nav a:hover{
	transition: 1s;
	background: black;
}
nav{
	padding: 20px 5px;
	margin-bottom: 20px;
}

.flexbox{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.skill-text{
	margin-top: 10px;
	margin-bottom: 20px;
}
.skill{
	height: 200px;
	width: 200px;

}

.skill > .text{
	color: white;
	position: relative;

	top: 50%;
	left: 50%;
	transform: translate(-30% ,-50%);
}

.skills{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 50px;
}

.skill-set{
	
	display: flex;
	justify-content: space-between;
	align-items: center;

	
	
}

.mb{
	margin-bottom: 50px;
	margin-top: 120px;
}

  @media only screen and (max-width: 600px) {
  	.skill-text > h1{
  		font-size: 25px;

  	}

  	.skills{
			display: flex;
			justify-content: space-evenly;
			align-items: center;
			flex-wrap: wrap;
			flex-basis: 50%;
			margin-bottom: 20px;
}
		.skill{
			transform: scale(0.8);
			margin-bottom: -60px;
			width: 150px;
		}

		.container{
			padding: 10px 25px;
		}
		
}

.logo{
	color: white;
}
@media only screen and (max-width: 600px) {
  nav{
	padding: 15px 4px;
	margin-bottom: 20px;
}
nav a{
	color: white;
	padding: 5px 10px;
	margin-left: 2px;
	text-decoration: none;
	font-size: 13px;
}
}

.frameworks{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
}

.framework{
	background: white;
	padding: 5px 15px;
	margin: 10px;
	text-align: center;
}

.edu-bg{
	margin-top: 100px ;
	
	padding: 88px 55px;
	background: black;

	color: white;
}

.edu-bg h1{
	margin-bottom: 35px;
}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: var(--bg-pink);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container-timeline {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.container-timeline::after {

  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid var(--bg-pink);
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 25px;
  background-color: white;
  position: relative;
  border-radius: 6px;
  color: black;
}

.content span{
	color: #5f5f5f;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
/* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

/* Full-width containers */
  .container-timeline {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

/* Make sure that all arrows are pointing leftwards */
  .container-timeline::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

/* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 15px;
  }

/* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}


footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 30px;
    background-color: black;
    color: white;
}


.experience{
	margin-top: 100px;
	margin-bottom: 100px;
}
.experience h1{
	margin-bottom: 30px;
}

.experience ul{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.experience ul li a{
	color: black;
	display: flex;
	align-items: center;

}
a i{
	padding: 4px;
	font-size: 13px;
}

ul li{
	list-style: none;
	background-color: white;
	padding: 20px;
	margin: 10px;
}

.skill-group{
	display: flex;
}

.line{
	width: 165px;
	height: 3px;
	border-radius: 20px;
	background-color: white;
	margin-bottom: 3px;
}