@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');



:root{
    --background: #092327;
    --light-green: #0B5351;
    --lighter-green: #00A9A5;
    --air-blue: #4E8098;
    --sky-blue: #90C2E7;
    --monofont: monospace;
    --latofont: 'Lato';
}
*{
    margin: 0;
    padding: 0;
    font-family: var(--latofont);
    
}

body{
    background-color: var(--background);
}

.logo h2{
    font-family: var(--monofont);
    
}
nav{
    color: white;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center ;
    margin-bottom: 10px;
}

a{
    font-family: var(--monofont);
    text-decoration: none;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    color: white;
    transition: 0.5s;
}
a:hover{
    background-color: var(--light-green);
}
.avatar {
   
   
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-bottom: 10px;
    background-position: center;
  }
 

  .container{
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0 65px 0 65px ;
    margin-top: 20px;
  }

  .m-top{
    margin-top: 69px;
  }
.left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 50px;
    padding: 10px;
 
}
.left h3{
    color: var(--lighter-green);
    font-family: var(--monofont);
    margin: -2px;
    letter-spacing: -1px;
}
.right{
    border: 4px dashed var(--sky-blue);
    padding: 20px 25px 10px 25px;
    border-radius: 20px;
    color: white;
    box-shadow: 10px 10px var(--sky-blue);
}



  .objective h1{
    margin-bottom: 22px;
}

.objective p{
    font-size: 22px;
}

.left-side{
    padding: 20px;
    
    border-radius: 20px;
    margin-right: 50px;
}
li{
    font-size: 22px;
    margin-bottom: 26px;
}
ul {
    list-style-type: circle;
}
.left-side h1{
    margin-bottom: 20px;
}
.right-side{
    padding: 25px;
    border: 3px solid var(--lighter-green);
    box-shadow: 10px 10px var(--lighter-green);
    border-radius: 20px;
}
.right-side h1{
    margin-bottom: 20px;
}
.skill{
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skill h3{
    margin-bottom: 5px;
}
.skills{
    display: flex;
    justify-content: space-evenly;
   
}

.progress{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: var(--lighter-green);
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    color: var(--background);
    font-weight: bold;
}

.container-full{
    margin-top: 50px;
    padding: 35px;
    background-color: var(--light-green);
}

@media only screen and (max-width: 600px) {
    .container {
        flex-wrap: wrap;
   
     
    }
    .left{
        text-align: center;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    .left-side{
       
        margin-right: 0px;
    }
  }
  #wrapper{
    width: 100%;
	position: relative;
	height: 50vmin;
}

#wrapper > .shape{
    
	height: 30%;
	width: 30%;
	border-radius: 5px;
	position: absolute;
	transition: left, top, height, width, border-radius;
	transition-duration: 750ms;
	transition-timing-function: ease-in-out;
}
.shape a{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   color: black;
   padding: 0px;
   margin: 0px;
}
.shape a:hover{
    color: white;
    font-weight: bold;
    border: 2px dashed var(--background);
}

#wrapper > .shape:hover{
    
}

#wrapper > .shape:nth-child(1){
	background: var(--sky-blue); 
	left: 0%;
	top: 5%;
	height: 30%;
	width: 40%;
}

#wrapper > .shape:nth-child(2){
	background: var(--air-blue);
	left: 42%;
	top: 5%;
	height: 50%;
	width: 10%;



}

#wrapper > .shape:nth-child(3){
	background: var(--lighter-green);
	left: 53%;
	top: 5%;
	height: 50%;
	width: 45%;

}
/* 1st config */ 
#wrapper[data-configuration="1"] > .shape:nth-child(1){
	left: 0%;
	top: 5%;
	height: 50%;
	width: 30%;
}
#wrapper[data-configuration="1"] > .shape:nth-child(2){
	left: 31%;
	top: 5%;
	height: 50%;
	width: 30%;
}
#wrapper[data-configuration="1"] > .shape:nth-child(3){
	left: 62%;
	top: 5%;
	height: 50%;
	width: 30%;
}


/* 2nd config */ 
#wrapper[data-configuration="2"] > .shape:nth-child(1){
	left: 0%;
	top: 5%;
	height: 100%;
	width: 20%;
	border-radius: 15px;
}
#wrapper[data-configuration="2"] > .shape:nth-child(2){
	left: 21%;
	top: 5%;
	height: 100%;
	width: 58%;
	border-radius: 15px;
}
#wrapper[data-configuration="2"] > .shape:nth-child(3){
	left: 80%;
	top: 5%;
	height: 100%;
	width: 20%;
	border-radius: 15px;
}


/* 3rd config */ 
#wrapper[data-configuration="3"] > .shape:nth-child(1){
	left: 0%;
	top: 5%;
	height: 100%;
	width: 40%;
	border-radius: 15px;
}
#wrapper[data-configuration="3"] > .shape:nth-child(2){
	left: 41%;
	top: 5%;
	height: 100%;
	width: 40%;
	border-radius: 15px;
}
#wrapper[data-configuration="3"] > .shape:nth-child(3){
	left: 82%;
	top: 5%;
	height: 100%;
	width: 18%;
	border-radius: 15px;
}

footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 30px;
    background-color: black;
    color: white;
}