@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap');
:root{
	--bg-color: #fff5ee;
	--bg-pink: #E50045;
	--bg-blue: #1ab7ff;
}
*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: Rubik;
}
html,
body{
	
	background: var(--bg-blue) !important ;
	 
}
.logo h3{
	letter-spacing: 2px;
	font-family: Rubik !important;
	font-weight: bold !important;
}
.container{
	padding: 10px 55px;
}

nav a{
	color: white;
	padding: 10px 15px;
	margin-left: 2px;
	text-decoration: none;

}
nav a:hover{
	transition: 1s;
	background: black;
}
nav{
	padding: 20px 5px;
	margin-bottom: 0px !important;
}

.flexbox{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@media only screen and (max-width: 600px) {
  nav{
	padding: 15px 4px;
	margin-bottom: 20px;
}
nav a{
	color: white;
	padding: 5px 10px;
	margin-left: 2px;
	text-decoration: none;
	font-size: 13px;
}
}


footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 30px;
    background-color: black;
    color: white;
}
.links{
	display: flex;
}
a{
	color: black;
	display: flex;
	align-items: center;

}
a i{
	padding: 4px;
	font-size: 14px;
}
.pp-tableCell{
	vertical-align: top !important;
}
#section1{

	background-color: var(--bg-blue)!important;
	background: linear-gradient(130deg, rgba(26,183,255,1) 0%, rgba(0,120,176,1) 100%) !important;
}

#section3{
	background-color: #bbf62b !important;
}
#section4{
	background-color: #2bf6d1 !important;
	
	background: linear-gradient(130deg, rgba(88,255,225,1) 0%, rgba(0,171,140,1) 100%) !important; 
}
.project-texts{
	margin-bottom: 50px;
}

.container-showcase{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
	height: 100%;
}

.left{
	width: 30vw;
}
.left ul li{
	list-style: none;
}
hr{
	margin: 2px 1px;
	border-radius: 20px;
	height: 3px;
	width: 25px;
	border: none;
	background-color: white;
}
.images{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	
	flex-wrap: wrap;
	height: 65vh;
	width: 50vw;
}
.images img{
	width: 100%;
	transition: 0.5s;
}

.challenge-text ul li{
	background-color: white;
	padding: 10px;
	margin: 5px 0;
}
b{
	background-color: black;
	padding: 5px;
	color: var(--bg-blue);
	font-size: 15px;
}
.detail-text p{
	line-height: 30px;

}
.carousel {
  --current-slide: 0;
  /* we set position relative so absolute position works properly for the buttons */
  position: relative;
  overflow: hidden;
}

.carousel-button {
  /* vertically centering the buttons */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;

  /* basic styling */
  padding: 0;
  margin: 0.5rem;
  border-radius: 50%;
  background-color: transparent;
  border: none;

  font-size: 1rem;
  cursor: pointer;

  transition: color 0.1s;
}

.carousel-button:hover {
  color: rgba(0, 0, 0, 0.5);
}

.carousel-button_next {
  /* The "next slide button" will be at the right */
  right: 0;
}

.slides {
  display: flex;
  transition: transform 0.5s;
  transform: translateX(calc(-100% * var(--current-slide)));
}

.slide {
  flex: 0 0 100%;
}

@media screen and (min-width: 768px) {
  .carousel-button {
    font-size: 2rem;
    margin: 1rem;
  }


}

@media only screen and (max-width: 600px) {
	.left{
	width: 100%;
}
.images{

	height: 100%;
	width: 100%;
}
.challenge-text ul li{
	font-size: 14px;
}
b{
	font-size: 14px;
}
.container{
	padding: 10px 30px;
}
}

.p-top{
	padding-top: 80px;
}
.p-top-low{
	padding-top: 30px;
	padding-bottom: 25px;
}
.bg-pink{
	color: var(--bg-pink);
}