*{
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
}
body{
    
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    padding: 1rem;
    animation: change 16s ease-in-out infinite;
}
@keyframes change{
    0%,100%{
        background-image:  url("bitmap.png");
    }
    50%{
        background-image:  url("bitmap1.png");
    }
}

h1,h2{
    font-family: cursive;
    text-align: center;
color: white;
padding: .5rem;
}
.div3 h2{
    text-align: left;
}
.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 7rem 3rem repeat(3, 9rem);
    grid-column-gap: 15px;
    grid-row-gap: 10px;
    }
    a{
        display: grid;
       text-align: end;
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-family: cursive;
        font-size: x-large;
        text-shadow: 2px 2px #FF0000;
    }
    a:hover{
        color: rgb(255, 0, 191);
        font-size: xx-large;
        text-shadow: none;
        background-size: auto;
    }
    .div1 { grid-area: 1 / 1 / 2 / 4;
   
    }
    .div2 { grid-area: 2 / 1 / 6 / 2;
     }
    .div3 { grid-area: 2 / 1 / 3 / 2; 

    }
.div4,.div5,.div6{
    width: 20rem;
    text-align: left;
}
    .div4 { grid-area: 3 / 1 / 4 / 2; 
    
    display: grid;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
        animation: animate 11s ease-in-out infinite;

}@keyframes animate{
    0%,100%{
        background-image: url("bitmap2.png");
    }
    40%{
        background-image: url("bitmap3.png");
    }
    80%{
        background-image: url("bitmap4.png");
    }
    
}


    .div5 { grid-area: 4 / 1 / 5 / 2; 
    
        display: grid;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
            animation: d5 11s ease-in-out infinite;}

@keyframes d5{
    0%,100%{
        background-image: url("bitmap5.jpg");
    }
    40%{
        background-image: url("bitmap6.jpg");
    }
    80%{
        background-image: url("bitmap7.jpg");
    }
}

    .div6 { grid-area: 5 / 1 / 6 / 2; 
    
    display: grid;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
        animation: d6 11s ease-in-out infinite;}
        @keyframes d6{
            0%,100%{
                background-image: url("bitmap8.jpg");
            }
            40%{
                background-image: url("bitmap9.jpg");
            }
            80%{
                background-image: url("bitmap10.png");
            }
        }
        

    .div7 { grid-area: 2 / 2 / 3 / 4;
     }


    .div8 { grid-area: 3 / 2 / 4 / 3;    
    background-image: url("bitmap11.png");
    background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .div9 { grid-area: 3 / 3 / 4 / 4; 
        background-image: url("bitmap12.png");
    background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .div10 { grid-area: 4 / 2 / 5 / 3; 
        background-image: url("bitmap13.png");
        background-size: cover;
            background-repeat: no-repeat;
            background-position: center;}

    .div11 { grid-area: 4 / 3 / 5 / 4; 
    background-image: url("bitmap14.png");
        background-size: cover;
            background-repeat: no-repeat;
            background-position: center;}

    .div12 { grid-area: 5 / 2 / 6 / 3; 
        background-image: url("bitmap15.png");
        background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    .div13 { grid-area: 5 / 3 / 6 / 4; 
        background-image: url("bitmap16.png");
        background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    footer{
        display: inline-block;
        width: 100%;
        height: 20%;
        margin-top: 2rem;
        text-align: center;
        text-transform: uppercase;
        font-size: 2.5rem;

    }
#foot{
    height:2.3rem;
    width: 3rem;
}

    