
     
     
    #purple{
        background-color: #e88bff;
        height: 50vh;
        position: relative;
    }

    #red{background-color: #fd5b5b;
    height:50vh;
position: relative}

    #logo{
        position: absolute;
        top:14%;
        left:19.5%;
    }
    p{
        width: 234.2px;
    height: 46px;
    font-family: "Segoe UI";
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    position: absolute;
    top:65%;
    left:19.5%;
    }
    b{
        width: 234.2px;
height: 25px;
font-family: "Segoe UI";
font-size: 18px;
font-weight: 700;
line-height: 24px;
position: absolute;
top:58%;
left:19.5%;
    }

    #form{
        position: absolute;
        top:3vh;
        left:13vw;

    }
    #staticEmail{
        margin-top: 5px;
        margin-bottom: 5px;
    }
    #password{
        margin-top: 5px;
        margin-bottom: 10vh;
    }
    button{
        position: absolute;
        left:75%;
    }
    label{
        color: white;
        
    }

    
@media only screen and (min-width:1024px){
    #purple{height: 100vh;
        background-color: #e88bff;
        
        position: relative;
        }
        #red{background-color: #fd5b5b;
        height: 100vh;
        position: relative;
    }

        p{ width: 234.2px;
    height: 46px;
    font-family: "Segoe UI";
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    position: absolute;
    top:65%;
    left:18%;
  }

  #con{
    height: 100vh;
  }

  b{width: 234.2px;
height: 25px;
font-family: "Segoe UI";
font-size: 18px;
font-weight: 700;
line-height: 24px;
position: absolute;
top:60%;
left:18%;

}

#logo{
width:65%;
position: absolute;
top:10%;
left:50%;
transform: translate(-50%);
}
#form{
  
position: absolute;
top:50%;
left:50%;
transform: translate(-50%,-50%);
width: auto;

}
#staticEmail{
    margin-bottom: 30px;
    width: 20vw;
}
#password{
    margin-bottom: 80px;
    width: 20vw;
}
label{
    margin-right: 30px;
}
button{
    position: absolute;
    left: 21vw;
}


  
    }
   

    @media only screen and (min-width:1024px){
        button{
            position: absolute;
            left: 21.5vw;
        }
    }